
<div class="container text-center">
<h1>CONTACT</h1>

<form action="/contact" method="post">
  <input type="hidden" name='authenticity_token' value="<%= form_authenticity_token %>">
  Prénom: <input type="text" name='f_name'>
  Message: <input type="text" name='message'>
  <input type="submit" name='Envoyer'>
</form>
</div>